/**----------------------------------------
START: Theme Default CSS
----------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /**
     @Font-Family Declaration
   */
  --sds-ff-body: 'Inter', sans-serif;
  --sds-ff-heading: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/**
  Typography CSS
*/
body {
  font-size: 14px;
  line-height: 20px;
  font-family: var(--sds-ff-body);
  color: #000000;
  font-weight: normal;
  word-break: break-word;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--sds-ff-heading);
  color: #000000;
  margin-top: 0;
  font-weight: 600;
  line-height: 1.2;
  transition: all 0.3s ease-in-out 0s;
}

h1 {
  font-size: 40px;
  line-height: 48px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

@media (max-width: 767px) {
  h1 {
    font-size: 35px;
  }
}

@media (max-width: 575px) {
  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  line-height: inherit;
  display: block;
}

h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a,
h5:hover a,
h6:hover a {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
}

ul {
  margin: 0px;
  padding: 0px;
}

a,
.btn,
button,
span,
p,
input,
select,
textarea,
li,
img,
svg path,
*::after,
*::before,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
}

a,
button {
  color: inherit;
  outline: none;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

button:focus,
button:focus:not(:focus-visible) {
  outline: 0;
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

select,
.nice-select,
input:not([type=submit]):not([type=radio]):not([type=checkbox]),
textarea {
  outline: none;
  height: auto;
  width: 100%;
  color: #000000;
  border: none;
}

input[type=color] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  padding: 0;
  border-radius: 50%;
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--sds-color-theme-primary);
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

*::-moz-selection {
  background: #000000;
  color: #ffffff;
  text-shadow: none;
}

::-moz-selection {
  background: #000000;
  color: #ffffff;
  text-shadow: none;
}

::selection {
  background: #000000;
  color: #ffffff;
  text-shadow: none;
}

*::-webkit-input-placeholder {
  color: #000000;
  font-size: var(--sds-fs-body);
  opacity: 1;
}

*::-moz-placeholder {
  color: #000000;
  font-size: var(--sds-fs-body);
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #000000;
  font-size: var(--sds-fs-body);
  opacity: 1;
}

*::-ms-input-placeholder {
  color: #000000;
  font-size: var(--sds-fs-body);
  opacity: 1;
}

*::placeholder {
  color: #ffffff;
  font-size: var(--sds-fs-body);
  opacity: 1;
}

/**
 	Common Classes CSS
*/
img {
  max-width: 100%;
}

.w-img img {
  width: 100%;
}

.m-img img {
  max-width: 100%;
}

.fix {
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Button CSS */


/**----------------------------------------
START: Header CSS
----------------------------------------*/

.header-mountain-area {
  position: relative;
  background-color: #ffffff;
  border-bottom: 5px solid #C6C0BD;
  transition: all 0.3s ease-in-out;
  padding: 23px 0;
  z-index: 98;
}

.header-mountain-menu-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  max-width: 1420px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.site-logo {
  display: inline-flex;
  max-width: 95px;
  width: 100%;
}

.site-logo a {
  display: inline-flex;
}

.site-logo a img {
  width: 100%;
}

.nav-menu-area ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 22px;
}

.nav-menu-area ul li a {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 14px;
  color: #121212;
  letter-spacing: 0.55px;
  word-break: break-word;
}

.nav-menu-area ul li a:hover {
  font-weight: 700;
}

.header-social {
  display: flex;
  column-gap: 22px;
}

.header-social ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 24px;
}

.header-social ul li a {
  position: relative;
  display: inline-flex;
}

.header-social ul li a span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 17px;
  color: #ffffff;
  font-size: 12px;
  background: #000000;
  border-radius: 50%;
  position: absolute;
  bottom: -6px;
  right: -6px;
}

@media (max-width: 575px) {
  .nav-menu-area {
    display: none;
  }
}

/* !END: Header CSS *

/**----------------------------------------
START: Feature CSS
----------------------------------------*/
.tabs-v2-main-wrapper {
  display: flex;
}

.tabs-v2-main-wrapper .tabs-v2-images {
  display: flex;
  width: 64%;
}

.tabs-v2-main-wrapper .tabs-v2-menu-wrap {
  width: 36%;
  padding-left: 34px;
}

.tabs-v2-mountain-menu {
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 40px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: #C6C0BD #ffffff;
  scrollbar-width: thin;
  padding-top: 26px;
  padding-bottom: 14px;
}

.tabs-v2-mountain-menu li .tab-button {
  display: flex;
  align-items: center;
  column-gap: 12px;
  position: relative;
  font-size: 15px;
  font-family: var(--sds-ff-heading);
  text-align: center;
}

.tabs-v2-mountain-menu li .tab-button span {
  display: flex;
}

.cart-item-wrap .cart-title {
  margin-top: 18px;
}

/* !END: Feature CSS *